*{
box-sizing:border-box;
font-family:Arial;
}


body{

margin:0;
background:#f5f5f5;

}


.navbar{

display:flex;
justify-content:space-between;
align-items:center;

background:#111;

color:white;

padding:20px;

}


.navbar a{

color:white;
margin:15px;
text-decoration:none;

}


.hero{

height:80vh;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

background:
linear-gradient(
rgba(0,0,0,.5),
rgba(0,0,0,.5)
),
url(
"https://images.unsplash.com/photo-1492144534655-ae79c964c9d7"
);


background-size:cover;

color:white;

}


.hero button{

padding:12px 30px;

background:red;

color:white;

border:none;

}



.container{

padding:40px;

text-align:center;

}



.menu a{

margin:20px;

font-size:20px;

color:#d00;

}



.card{

background:white;

padding:30px;

margin:20px;

border-radius:10px;

box-shadow:0 5px 15px #ccc;

}



input,textarea{

display:block;

width:80%;

padding:15px;

margin:15px auto;

}



footer{

background:#111;

color:white;

text-align:center;

padding:20px;

}



@media(max-width:700px){

.navbar{

flex-direction:column;

}


.navbar a{

display:block;

margin:10px;

}


}